<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- kuka_kr10r1100sixx -->
  <!-- Mass parameters (guessed), total mass should be 55 kg -->
  <xacro:property name="kuka_kr10r1100sixx_base_link_mass" value="4.0" />
  <xacro:property name="kuka_kr10r1100sixx_link_1_mass" value="4.0" />
  <xacro:property name="kuka_kr10r1100sixx_link_2_mass" value="19.0" />
  <xacro:property name="kuka_kr10r1100sixx_link_3_mass" value="10.0" />
  <xacro:property name="kuka_kr10r1100sixx_link_4_mass" value="15.0" />
  <xacro:property name="kuka_kr10r1100sixx_link_5_mass" value="2.8" />
  <xacro:property name="kuka_kr10r1100sixx_link_6_mass" value="0.2" />

  <!-- DH-Parameters -->
  <xacro:property name="kuka_kr10r1100sixx_d1" value="0.400" />
  <xacro:property name="kuka_kr10r1100sixx_d2" value="0" />
  <xacro:property name="kuka_kr10r1100sixx_d3" value="0" />
  <xacro:property name="kuka_kr10r1100sixx_d4" value="0.515" />
  <xacro:property name="kuka_kr10r1100sixx_d5" value="0" />
  <xacro:property name="kuka_kr10r1100sixx_d6" value="0" />
  <xacro:property name="kuka_kr10r1100sixx_a1" value="0.025" />
  <xacro:property name="kuka_kr10r1100sixx_a2" value="0.560" />
  <xacro:property name="kuka_kr10r1100sixx_a3" value="0.035" />
  <xacro:property name="kuka_kr10r1100sixx_a4" value="0" />
  <xacro:property name="kuka_kr10r1100sixx_a5" value="0.080" />
  <xacro:property name="kuka_kr10r1100sixx_a6" value="0" />

  <!-- Cylindrical inertia tensor -->
  <xacro:macro name="cylinder_inertial" params="radius length mass *origin">
   <inertial>
     <mass value="${mass}" />
     <xacro:insert_block name="origin" />
     <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
       iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
       izz="${0.5 * mass * radius * radius}" />
   </inertial>
 </xacro:macro>

</robot>
