<?xml version="1.0" ?>
<robot name="kuka_kr10" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- kr10 -->
  <xacro:include filename="$(find kuka_kr10_gazebo)/urdf/kr10_macro.xacro"/>

  <!-- arm -->
  <xacro:kuka_kr10_robot prefix=""   >
  	<origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:kuka_kr10_robot>

  <!-- FT Senzor -->
  <!--xacro:include filename="$(find kuka_kr10_gazebo)/urdf/ft_macro.xacro"/-->

  <!-- arm -->
  <!--xacro:FT_sensor_gazebo prefix=""/-->

</robot>
