<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find kuka_resources)/urdf/common_constants.xacro"/>
  <xacro:include filename="$(find kuka_resources)/urdf/common_materials.xacro"/>

  <xacro:macro name="proxxon_drilling_tool" params="prefix">

    <link name="${prefix}drilling_tool_link">
      <visual>
        <origin xyz="-0.1555 0 -0.066" rpy="-${DEG2RAD * 90} -${DEG2RAD * 0} ${DEG2RAD * 90}"/>
        <geometry>
          <mesh filename="package://kuka_kr10_support/meshes/kr10r1100sixx/visual/proxxon_drilling_v2.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <xacro:material_kuka_orange />
      </visual>
      <collision>
        <origin xyz="-0.1564 0 -0.066" rpy="-${DEG2RAD * 90} -${DEG2RAD * 0} ${DEG2RAD * 90}"/>
        <geometry>
          <mesh filename="package://kuka_kr10_support/meshes/kr10r1100sixx/collision/proxxon_drilling_v2.stl" scale="0.0008 0.0008 0.0008" />
        </geometry>
      </collision>
      <inertial>
        <mass value="5.6" />
        <origin xyz="-0.1564 0 -0.066" rpy="-${DEG2RAD * 90} -${DEG2RAD * 0} ${DEG2RAD * 90}" />
        <inertia ixx="0.00402901710341" ixy="0.000210543968708" ixz="4.6068390983e-05" iyy="0.00668778512296" iyz="1.26910167997e-06" izz="0.00711775677213" />
      </inertial>
    </link>



    <!-- joint between arm_6_link and drilling_tool_link -->
    <joint name="${prefix}joint_drilling_tool_link" type="fixed">
      <origin xyz="0.1035 0 -0.157" rpy="${DEG2RAD * 0} ${DEG2RAD * 90} ${DEG2RAD * 0}" />
      <parent link="${prefix}link_6"/>
      <child link="${prefix}drilling_tool_link"/>
      <axis xyz="1 0 0" />
      <limit effort="0" velocity="0" lower="0" upper="0" />
    </joint>


  </xacro:macro>
</robot>