<?xml version="1.0" encoding="utf-8"?>
<launch>
    <rosparam file="$(find kuka_eki_hw_interface)/test/test_params.yaml" command="load" />

    <!-- Start EKI interface -->
    <node name="kuka_eki_hardware_interface" pkg="kuka_eki_hw_interface"
      type="kuka_eki_hw_interface_node" respawn="false"
      output="screen"
      required="true"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find kuka_eki_hw_interface)/config/hardware_controllers.yaml" command="load"/>
    <!-- Load standard kuka controller joint names from YAML file to parameter server -->
    <rosparam file="$(find kuka_eki_hw_interface)/config/controller_joint_names.yaml" command="load"/>

    <!-- Load controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="position_trajectory_controller joint_state_controller --shutdown-timeout 1"/>
    <!-- Load robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
