<?xml version="1.0"?>
<launch>

    <arg name="paused" default="true"/>
    <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="worlds/empty.world"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- send robot urdf to param server -->
    <include file="$(find kuka_kr16_gazebo)/launch/load_kr16_2_gazebo.launch"/>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

    <include file="$(find kuka_kr16_gazebo)/launch/controller_utils.launch"/>

    <rosparam file="$(find kuka_kr16_gazebo)/config/joint_trajectory_controller.yaml" command="load"/>
    <node name="joint_trajectory_controller_spawner" pkg="controller_manager" type="spawner" args="position_trajectory_controller" />
</launch>
